.percentages h1
  margin 2.278rem auto 1.39rem auto

.pie
  display inline-block
  width 5.44rem
  height 5.44rem
  position relative
  font-family LatoLight
  margin-right 2.06rem

.pie-chart
  display inline-block

.multi-pie-chart
  display inline-block
  width 98px
  height 98px

.chart
  width 100px
  height 100px




