mixin percentages()
    div.percentages
        h1 Percentages / pie chart
        include /../mixins/pie-chart
        +pie-chart(0)
        +pie-chart(38)
        +pie-chart(62)
        +pie-chart(89)
        div.multi-pie-chart
            canvas#multi