doctype html
head
    title FlatUI
body
    include standard_buttons/standard_buttons
    +standard-buttons()
    include arrow_buttons/arrow_buttons
    +arrow-buttons()
    include percentages/percentages
    +percentages()
    include sliders/sliders
    +sliders()
    include stages/stages
    +stages()
    include form_elements/form_elements
    +form-elements()
    include search/search
    +search()
    include user_profile/user_profile
    +user-profile()
    include news_events/news_events
    +news-events()
    include location/location
    +location()
    include calendar/calendar
    +calendar()
    include messaging/messaging
    +messaging()
    include video/video
    +video()