@font-face
  font-family LatoBlack
  src url("fonts/Lato-Black.ttf"),
    url("fonts/Lato-Black.svg"),
    url("fonts/Lato-Black.woff")

@font-face
  font-family LatoLight
  src url("fonts/Lato-Light.ttf"),
    url("fonts/Lato-Light.svg"),
    url("fonts/Lato-Light.woff")

first-color=#4eb7a8
second-color=#e75735
header-color=#4f4f4f
body
  text-align center
  font-family LatoBlack

h1
  font-size 18px
  text-transform uppercase
  color header-color

@import "standard_buttons/standard_buttons"
@import "arrow_buttons/arrow_buttons"
@import "percentages/percentages"
@import "sliders/sliders"
@import "stages/stages"
@import "form_elements/form-elements"
@import "search/search"
@import "user_profile/user_profile"
@import "news_events/news_events"
@import "location/location"
@import "calendar/calendar"
@import "messaging/messaging"
@import "video/video"