mixin search()
    div.search
        h1 Search / drop down
        form.search__form(action='' method='')
            input(type='search' placeholder='Search')
            input(type='submit' value!="&#128269;")
