.news-events h1
  margin 5.278rem auto 1.78rem auto

.news-events img
  background-color #ffffff
  width 5.278rem
  height 11.78rem
  align left

.news-events > div:not(:last-of-type)
  margin-right 1rem

.news-events__first
.news-events__second
  width 16rem
  height 11.78rem
  display inline-block
  text-align left
  & p
    font-family LatoRegular
  & p
  & h4
    font-size 0.61rem




.news-events__first
  background second-color
  & h3
    font-family LatoLight
    font-size 1.56rem
    line-height 1.56rem
    margin 1.22rem auto 0 1.22rem
  & h4
    margin 0.6rem auto 0 1.22rem
  & p
    margin 0.61rem 1.35rem 0 1.22rem


.news-events__second
  background first-color
  & h3
    font-family LatoLight
    font-size 1.67rem
    line-height 2.5rem
    margin 1.11rem auto 0 1.167rem
  & h4
    margin 1rem auto 0 1.167rem
  & p
    margin 0.25rem auto 0 1.167rem
  & button
    margin 0.89rem auto auto 1.72rem
    button-appearance 7.167rem 1.278rem 0.56rem #ffffff first-color
    font-family LatoBlack//font-weight bold
    button-shadow 0.2rem first-border-color

.news-events__first__text
.news-events__second__text
  display inline-block
  width 10.7rem
  vertical-align top
  color #ffffff
  & h4
    text-transform uppercase
  & h3
    font-weight normal
.news-events__second__text_big
  font-size 4.056rem