@import "../mixins/button.styl"

.form-elements h1
  margin 2.72rem auto 2.5rem auto

.form-elements__form
  width 15.94rem
  margin 0 auto
  & textarea
  & input[type='submit']
    display block
  & > div
    margin 0
    padding 0
    text-align left

[class^='form-elements__form_']
  margin 0 0 0.78rem 0
  vertical-align middle
  border none

[class^='form-elements__form_']:not([type='submit'])
  background arrow-circle-color
  border-radius 0.2rem

[class^='form-elements__form_']:not([type='submit'])::-moz-placeholder
  font-family SourceSansProRegular
  color input-text-color
  font-size 0.78rem
  font-weight bolder
[class^='form-elements__form_']:not([type='submit'])::-ms-input-placeholder
  font-family SourceSansProRegular
  color input-text-color
  font-size 0.78rem
  font-weight bolder
[class^='form-elements__form_']:not([type='submit'])::-webkit-input-placeholder
  font-family SourceSansProRegular
  color input-text-color
  font-size 0.78rem
  font-weight bolder

.form-elements__form input:not([type='submit'])
  height 1.61rem
  width 10.27rem
  padding 0 0.667rem

.form-elements__form_valid-msg
  display none
  width 3.94rem
  height 1.61rem

.form-elements__form input:valid:focus + div.form-elements__form_valid-msg
.form-elements__form input:invalid:not([type='submit']) + div.form-elements__form_valid-msg
  display inline-block
  margin-left 0.39rem
  &:before
    content ""
    position absolute
    display inline-block
    border 0.23rem solid transparent
    border-left none
    margin 0.6rem auto auto -0.2rem

.form-elements__form input:valid:focus + div.form-elements__form_valid-msg
  background first-color
  &:before
    border-right-color first-color

.form-elements__form input:invalid:not([type='submit']) + div.form-elements__form_valid-msg
  background second-color
  &:before
    border-right-color second-color

.form-elements__form_message
  width 14.606rem
  height 3.6rem
  padding 0.667rem
  resize none

.form-elements__form_submit
  button-appearence 6.5rem 1.778rem 0.67rem #ffffff first-color
  button-shadow 0.2rem first-border-color
  margin-left auto
  margin-right 0