.form-elements h1
  margin 2.72rem auto 2.5rem auto
.form-elements__form
  width 15.94rem
  margin 0 auto
  text-align center
[class^='form-elements__form_']
  display block
  margin-bottom 0.78rem
  vertical-align middle
  border none
[class^='form-elements__form_']:not([type='submit'])
  background arrow-circle-color
.form-elements__form_message
  width 100%
  resize none
.form-elements__form_submit
  background first-color