mixin form-elements()
    div.form-elements
        h1 Form elements
        form.form-elements__form(action='' method='')
            input.form-elements__form_name(type='text' placeholder='Your Name')
            input.form-elements__form_email(type='email' placeholder='Your Email')
            textarea.form-elements__form_message(rows='4' placeholder='Your Message')
            input.form-elements__form_submit.standard-buttons__table_button(type='submit' value='Submit')