@import "../mixins/button.styl"

.form-elements h1
  margin 2.72rem auto 2.5rem auto

.form-elements__form
  width 15.94rem
  margin 0 auto

[class^='form-elements__form_']
  display block
  margin-bottom 0.78rem
  vertical-align middle
  border none

[class^='form-elements__form_']:not([type='submit'])
  background arrow-circle-color
  border-radius 0.2rem

[class^='form-elements__form_']:not([type='submit'])::-moz-placeholder
  font-family SourceSansProRegular
  color input-text-color
  font-size 0.78rem
  font-weight bolder
[class^='form-elements__form_']:not([type='submit'])::-ms-input-placeholder
  font-family SourceSansProRegular
  color input-text-color
  font-size 0.78rem
  font-weight bolder
[class^='form-elements__form_']:not([type='submit'])::-webkit-input-placeholder
  font-family SourceSansProRegular
  color input-text-color
  font-size 0.78rem
  font-weight bolder

.form-elements__form input:not([type='submit'])
  height 1.61rem
  width 10.27rem
  padding 0 0.667rem
  //&:focus
  //  &:valid
  //    background green
  //&:invalid
  //  background red

.form-elements__form_message
  width 14.606rem
  height 3.6rem
  padding 0.667rem
  resize none

.form-elements__form_submit
  button-appearence 6.5rem 1.778rem 0.67rem #ffffff first-color
  button-shadow 0.2rem first-border-color
  margin-left auto
  margin-right 0