button-shadow(n, color)
    box-shadow 0 0 0 1px color,
    0 n 0 1px color

.standard-buttons h1
  margin 4.72rem 0 3.89rem 0

.standard-buttons__table
  display table
  text-align center
  border-collapse collapse
  border-width 0
  margin 0 auto 0 auto

.standard-buttons ul
  display table-row

.standard-buttons li
  display table-cell
  vertical-align bottom

.standard-buttons li button
  overflow hidden
  position relative
  color #ffffff
  text-transform uppercase
  font-weight bold
  font-size 0.67rem
  width 6.5rem
  height 1.778rem
  border-radius 0.28rem
  border none
  margin 0.556rem 0.639rem

.standard-buttons__table_little
  width 4.33rem
  height 1.278rem
  font-size 0.56rem

.standard-buttons li:first-of-type button
.standard-buttons li:nth-of-type(2) button
  background-color first-color
  button-shadow 0.2rem first-border-color

.standard-buttons li:last-of-type button
.standard-buttons li:nth-of-type(3) button
  background-color second-color
  button-shadow 0.2rem second-border-color

.standard-buttons li button:hover
  background-color #ffffff

.standard-buttons li:first-of-type button:hover
.standard-buttons li:nth-of-type(2) button:hover
  color first-color

.standard-buttons li:last-of-type button:hover
.standard-buttons li:nth-of-type(3) button:hover
  color second-color

.standard-buttons li:last-of-type button:active
li:nth-of-type(3) button:active
  background-color second-color
  color #ffffff

.standard-buttons li:first-of-type button:active
.standard-buttons li:nth-of-type(2) button:active
  background-color first-color
  color #ffffff

.standard-buttons li button:active
  box-shadow none
  border none
  cursor pointer


.ripple-effect
  position absolute
  border-radius 50%
  width: 50px//////////////
  height: 50px////////////////////
  background white
  animation ripple-animation 2s

@keyframes ripple-animation
  from
    transform scale(1)
    opacity 0.4
  to
    transform scale(2)
    opacity 0
