@import "../mixins/button.styl"

.standard-buttons
  & h1
    margin 4.52rem auto 3.2rem auto
  & ul
    display table-row
  & li
    display table-cell
    vertical-align bottom

.standard-buttons__table
  display table
  text-align center
  border-collapse collapse
  border-width 0
  margin 0 auto 0 auto
  & .standard-buttons__table_little
    width 4.15rem
    height 1.05rem
    font-size 0.56rem
  & ul li button
    button-appearance 6.4rem 1.62rem 0.67rem #ffffff
    margin 0.69rem 0.75rem
    font-family LatoBlack

.standard-buttons
  & li:first-of-type button
  & li:nth-of-type(2) button
    background-color first-color
    button-shadow 0.2rem first-border-color
    &:hover
      color first-color
    &:active
      background-color first-color
      color #ffffff
  & li:last-of-type button
  & li:nth-of-type(3) button
    background-color second-color
    button-shadow 0.2rem second-border-color
    &:hover
      color second-color
    &:active
      background-color second-color
      color #ffffff



