mixin standard-buttons()
    div.standard-buttons
        h1 Standard buttons
        div.standard-buttons__table
            ul
                li
                    button.standard-buttons__table_little button
                li
                    button button1
                li
                    button button2
                li
                    button.standard-buttons__table_little button3
            ul
                li
                    button.standard-buttons__table_little button
                li
                    button button1
                li
                    button button2
                li
                    button.standard-buttons__table_little button3
            ul
                li
                    button.standard-buttons__table_little button
                li
                    button button1
                li
                    button button2
                li
                    button.standard-buttons__table_little button3
