mixin standard-buttons()
    div.standard-buttons
        h1 Standard buttons
        div.standard-buttons__table
            ul
                li
                    button.standard-buttons__table_little button
                li
                    button button
                li
                    button button
                li
                    button.standard-buttons__table_little button
            ul
                li
                    button.standard-buttons__table_little button
                li
                    button button
                li
                    button button
                li
                    button.standard-buttons__table_little button
            ul
                li
                    button.standard-buttons__table_little button
                li
                    button button
                li
                    button button
                li
                    button.standard-buttons__table_little button