.user-profile
  display inline-block
  vertical-align top

.user-profile h1
  margin 3.5rem auto 1.94rem auto

.user-profile_photo
  circle 4.67rem transparent
  border 0.278rem solid arrow-circle-color
  margin 0 0.389rem 1.156rem 0
  &:first-of-type
    background-icon "user_profile/man1.png" 100%

.user-profile div:nth-of-type(3)
  background-icon "user_profile/woman1.png" 100%

.user-profile_photo
.user-profile_info
  display inline-block

.user-profile_info
  vertical-align top
  height 5.22rem
  width 9.167rem
  background arrow-circle-color
