.circliful .outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 19.8;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
}

/* full circle 25 empty 534 */
.circliful .inner {
    fill: transparent;
    stroke: orange;
    stroke-width: 20;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
    stroke-dashoffset: 0;
}

.circliful {
    overflow: visible !important;

}

.svg-container {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
}

svg .icon {
    font-family: FontAwesome;
}@font-face {
  font-family: LatoBlack;
  src: url(fonts/Lato-Black.ttf), url(fonts/Lato-Black.svg), url(fonts/Lato-Black.woff);
}
@font-face {
  font-family: LatoLight;
  src: url(fonts/Lato-Light.ttf), url(fonts/Lato-Light.svg), url(fonts/Lato-Light.woff);
}
body {
  text-align: center;
  font-family: LatoBlack;
}
h1 {
  font-size: 18px;
  text-transform: uppercase;
  color: #4f4f4f;
}
.standard-buttons h1 {
  margin-top: 4.72rem;
}
.standard-buttons__table {
  display: table;
  text-align: center;
  border-collapse: collapse;
  border-width: 0;
  margin: 3.89rem auto 0 auto;
}
ul {
  display: table-row;
}
li {
  display: table-cell;
  vertical-align: bottom;
}
li button {
  overflow: hidden;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.67rem;
  width: 6.5rem;
  height: 1.778rem;
  border-radius: 0.28rem;
  border: none;
  margin: 0.556rem 0.639rem;
}
.standard-buttons__table_little {
  width: 4.33rem;
  height: 1.278rem;
  font-size: 0.56rem;
}
li:first-of-type button,
li:nth-of-type(2) button {
  background-color: #4eb7a8;
  box-shadow: 0 0 0 1px #28a290, 0 0.2rem 0 1px #28a290;
}
li:last-of-type button,
li:nth-of-type(3) button {
  background-color: #e75735;
  box-shadow: 0 0 0 1px #bf3e1f, 0 0.2rem 0 1px #bf3e1f;
}
li button:hover {
  background-color: #fff;
}
li:first-of-type button:hover,
li:nth-of-type(2) button:hover {
  color: #4eb7a8;
}
li:last-of-type button:hover,
li:nth-of-type(3) button:hover {
  color: #e75735;
}
li:last-of-type button:active,
li:nth-of-type(3) button:active {
  background-color: #e75735;
  color: #fff;
}
li:first-of-type button:active,
li:nth-of-type(2) button:active {
  background-color: #4eb7a8;
  color: #fff;
}
li button:active {
  box-shadow: none;
  border: none;
  cursor: pointer;
}
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  animation: ripple-animation 2s;
}
@-moz-keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@-o-keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
.arrow-buttons h1 {
  margin: 2.5rem auto 2.056rem auto;
}
.arrow-buttons__circle {
  display: inline-block;
  width: 2.89rem;
  height: 2.89rem;
  border-radius: 50%;
  background-color: #e5e5e5;
  margin: 0 auto;
  margin-right: 1.44rem;
}
.arrow-buttons__circle:hover {
  width: 2.89rem;
  height: 2.89rem;
  border-radius: 50%;
  background-color: #4eb7a8;
}
.arrow-buttons__circle:active {
  width: 2.89rem;
  height: 2.89rem;
  border-radius: 50%;
  background-color: #fff;
  border: 0.278rem solid #4eb7a8;
  box-sizing: border-box;
}
.arrow-buttons__circle_arrow-left,
.arrow-buttons__circle_arrow-right {
  width: 0.56rem;
  height: 0.56rem;
}
.arrow-buttons__circle_arrow-left {
  border: 0.278rem solid transparent;
  border-left: 0.278rem solid #fff;
  border-top: 0.278rem solid #fff;
  -moz-transform: translateY(80%) rotate(-45deg);
  -ms-transform: translateY(80%) rotate(-45deg);
  -webkit-transform: translateY(80%) rotate(-45deg);
  -o-transform: translateY(80%) rotate(-45deg);
  transform: translateY(80%) rotate(-45deg);
  margin-left: 40%;
}
.arrow-buttons__circle:active .arrow-buttons__circle_arrow-left {
  border: 0.278rem solid transparent;
  border-left: 0.278rem solid #4eb7a8;
  border-top: 0.278rem solid #4eb7a8;
  -moz-transform: translateY(65%) rotate(-45deg);
  -ms-transform: translateY(65%) rotate(-45deg);
  -webkit-transform: translateY(65%) rotate(-45deg);
  -o-transform: translateY(65%) rotate(-45deg);
  transform: translateY(65%) rotate(-45deg);
}
.arrow-buttons__circle_arrow-right {
  border: 0.278rem solid transparent;
  border-left: 0.278rem solid #fff;
  border-top: 0.278rem solid #fff;
  -moz-transform: translateY(80%) rotate(135deg);
  -ms-transform: translateY(80%) rotate(135deg);
  -webkit-transform: translateY(80%) rotate(135deg);
  -o-transform: translateY(80%) rotate(135deg);
  transform: translateY(80%) rotate(135deg);
  margin-left: 20%;
}
.arrow-buttons__circle:active .arrow-buttons__circle_arrow-right {
  border: 0.278rem solid transparent;
  border-left: 0.278rem solid #4eb7a8;
  border-top: 0.278rem solid #4eb7a8;
  -moz-transform: translateY(65%) rotate(135deg);
  -ms-transform: translateY(65%) rotate(135deg);
  -webkit-transform: translateY(65%) rotate(135deg);
  -o-transform: translateY(65%) rotate(135deg);
  transform: translateY(65%) rotate(135deg);
}
.percentages h1 {
  margin: 2.278rem auto 1.39rem auto;
}
.pie {
  display: inline-block;
  width: 5.44rem;
  height: 5.44rem;
  position: relative;
  font-family: LatoLight;
  margin-right: 2.06rem;
}
.pie-chart {
  display: inline-block;
}
.multi-pie-chart {
  display: inline-block;
  width: 98px;
  height: 98px;
}
.chart {
  width: 100px;
  height: 100px;
}
form {
  position: relative;
  margin: 150px;
  text-align: left;
}
.sliders__first output {
  position: absolute;
  background-color: #e75735;
  width: 2rem;
  height: 1.39rem;
  text-align: center;
  color: #fff;
  border-radius: 0.44rem;
  display: inline-block;
  font: LatoBlack 0.72rem;
  bottom: 130%;
  left: 0;
}
.sliders__first output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0.278rem solid #e75735;
  border-left: 0.139rem solid transparent;
  border-right: 0.139rem solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -0.139rem;
  margin-top: -0.056rem;
}
input[type='range'] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  height: 0.35rem;
  width: 14.44rem;
  border-radius: 0.6rem;
  background: #e5e5e5;
}
.sliders__first_range1 {
  background: #e5e5e5;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
input[type='range']::-moz-range-track {
  height: 0;
}
.sliders__first input[type='range']::-webkit-slider-thumb {
  width: 1.11rem;
  height: 1.11rem;
  border-radius: 50%;
  background-color: #e75735;
}
.sliders__first input[type='range']::-moz-range-thumb {
  width: 1.11rem;
  height: 1.11rem;
  border-radius: 50%;
  background-color: #e75735;
  border: none;
}
.sliders__second input[type='range']::-webkit-slider-thumb {
  width: 1.11rem;
  height: 1.11rem;
  border-radius: 50%;
  background-color: #4eb7a8;
}
.sliders__second input[type='range']::-moz-range-thumb {
  width: 1.11rem;
  height: 1.11rem;
  border-radius: 50%;
  background-color: #4eb7a8;
  border: none;
}
form::after {
  content: "0 25 50 75 100";
  position: absolute;
  background: transparent;
  word-spacing: 2.7rem;
  top: 1.2rem;
  left: 0rem;
  font-size: 0.6rem;
}
.sliders__first,
.sliders__second {
  display: inline-block;
}
