.circliful .outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 19.8;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
}

/* full circle 25 empty 534 */
.circliful .inner {
    fill: transparent;
    stroke: orange;
    stroke-width: 20;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
    stroke-dashoffset: 0;
}

.circliful {
    overflow: visible !important;

}

.svg-container {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
}

svg .icon {
    font-family: FontAwesome;
}
ul.progressbar {
  height: 1.67rem;
  padding: 0;
  counter-reset: step;
  margin: 0;
}
ul.progressbar li {
  list-style-type: none;
  color: #9d9d9d;
  float: left;
  position: relative;
  text-align: center;
  font-size: 0.778rem;
  margin: 0;
  padding: 0;

}
ul.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  padding: 0;
  margin: 0;
  color: #9d9d9d;
  width: 1.67rem;
  height: 1.67rem;
  line-height: 1.67rem;
  border-radius: 50%;
  display: block;
  text-align: center;
  background: #e5e5e5;/*rgb(216,216,216);*/
}
ul.progressbar li:after {
  content: "";
  margin: 0;
  padding: 0;
  background: #e5e5e5;/*#ddd;*/
  position: absolute;
  width: 100%;
  height: 0.33rem;
  top: 50%;
  right: -1%;
  z-index: -1;
}


ul.progressbar li:last-child {
  width: 0 !important;
}

ul.progressbar li:last-child:after {
  content: none;

  margin: 0;
}
ul.progressbar li.current:before {
 /* background: rgb(104, 191, 250);
  color: #fff;*/
}
ul.progressbar li.fail:before {
  /*background: rgb(229, 48, 40)*/
}
ul.progressbar li.current:before,
ul.progressbar li.done:before, ul.progressbar li.done:after {
  background: #e75735;/*rgb(21,219,158);*/
  color: #fff;
}
@font-face {
  font-family: LatoBlack;
  src: url(fonts/Lato-Black.ttf), url(fonts/Lato-Black.svg), url(fonts/Lato-Black.woff);
}
@font-face {
  font-family: LatoLight;
  src: url(fonts/Lato-Light.ttf), url(fonts/Lato-Light.svg), url(fonts/Lato-Light.woff);
}
@font-face {
  font-family: SourceSansProRegular;
  src: url(fonts/SourceSansProRegular.ttf), url(fonts/SourceSansProRegular.svg), url(fonts/SourceSansProRegular.woff);
}
html {
  font-size: 18px;
}
body {
  text-align: center;
  font-family: LatoBlack;
}
h1,
h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #4f4f4f;
}
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  animation: ripple-animation 2s;
}
.standard-buttons h1 {
  margin: 4.72rem 0 3.89rem 0;
}
.standard-buttons__table {
  display: table;
  text-align: center;
  border-collapse: collapse;
  border-width: 0;
  margin: 0 auto 0 auto;
}
.standard-buttons ul {
  display: table-row;
}
.standard-buttons li {
  display: table-cell;
  vertical-align: bottom;
}
.standard-buttons__table .standard-buttons__table_little {
  width: 4.33rem;
  height: 1.278rem;
  font-size: 0.56rem;
}
.standard-buttons li:first-of-type button,
.standard-buttons li:nth-of-type(2) button {
  background-color: #4eb7a8;
  box-shadow: 0 0 0 1px #28a290, 0 0.2rem 0 1px #28a290;
}
.standard-buttons li:last-of-type button,
.standard-buttons li:nth-of-type(3) button {
  background-color: #e75735;
  box-shadow: 0 0 0 1px #bf3e1f, 0 0.2rem 0 1px #bf3e1f;
}
.standard-buttons li:first-of-type button:hover,
.standard-buttons li:nth-of-type(2) button:hover {
  color: #4eb7a8;
}
.standard-buttons li:last-of-type button:hover,
.standard-buttons li:nth-of-type(3) button:hover {
  color: #e75735;
}
.standard-buttons__table ul li button {
  overflow: hidden;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.67rem;
  width: 6.5rem;
  height: 1.778rem;
  border-radius: 0.2rem;
  background: none;
  border: none;
  margin: 0.556rem 0.639rem;
}
.standard-buttons__table ul li button:hover {
  background: #fff;
  color: none;
}
.standard-buttons__table ul li button:active {
  box-shadow: none;
  border: none;
  cursor: pointer;
  color: #fff;
  background: none;
}
.standard-buttons li:last-of-type button:active,
.standard-buttons li:nth-of-type(3) button:active {
  background-color: #e75735;
  color: #fff;
}
.standard-buttons li:first-of-type button:active,
.standard-buttons li:nth-of-type(2) button:active {
  background-color: #4eb7a8;
  color: #fff;
}
.arrow-buttons h1 {
  margin: 2.5rem auto 2.056rem auto;
}
.arrow-buttons__circle {
  display: inline-block;
  width: 2.89rem;
  height: 2.89rem;
  border-radius: 50%;
  background-color: #e5e5e5;
  margin: 0 auto;
  margin-right: 1.44rem;
}
.arrow-buttons__circle:hover {
  width: 2.89rem;
  height: 2.89rem;
  border-radius: 50%;
  background-color: #4eb7a8;
}
.arrow-buttons__circle:active {
  width: 2.89rem;
  height: 2.89rem;
  border-radius: 50%;
  background-color: #fff;
  border: 0.278rem solid #4eb7a8;
  box-sizing: border-box;
}
.arrow-buttons__circle_arrow-left,
.arrow-buttons__circle_arrow-right {
  width: 0.56rem;
  height: 0.56rem;
}
.arrow-buttons__circle_arrow-left {
  border: 0.278rem solid transparent;
  border-left: 0.278rem solid #fff;
  border-top: 0.278rem solid #fff;
  -moz-transform: translateY(80%) rotate(-45deg);
  -ms-transform: translateY(80%) rotate(-45deg);
  -webkit-transform: translateY(80%) rotate(-45deg);
  -o-transform: translateY(80%) rotate(-45deg);
  transform: translateY(80%) rotate(-45deg);
  margin-left: 40%;
}
.arrow-buttons__circle:active .arrow-buttons__circle_arrow-left {
  border: 0.278rem solid transparent;
  border-left: 0.278rem solid #4eb7a8;
  border-top: 0.278rem solid #4eb7a8;
  -moz-transform: translateY(65%) rotate(-45deg);
  -ms-transform: translateY(65%) rotate(-45deg);
  -webkit-transform: translateY(65%) rotate(-45deg);
  -o-transform: translateY(65%) rotate(-45deg);
  transform: translateY(65%) rotate(-45deg);
}
.arrow-buttons__circle_arrow-right {
  border: 0.278rem solid transparent;
  border-left: 0.278rem solid #fff;
  border-top: 0.278rem solid #fff;
  -moz-transform: translateY(80%) rotate(135deg);
  -ms-transform: translateY(80%) rotate(135deg);
  -webkit-transform: translateY(80%) rotate(135deg);
  -o-transform: translateY(80%) rotate(135deg);
  transform: translateY(80%) rotate(135deg);
  margin-left: 20%;
}
.arrow-buttons__circle:active .arrow-buttons__circle_arrow-right {
  border: 0.278rem solid transparent;
  border-left: 0.278rem solid #4eb7a8;
  border-top: 0.278rem solid #4eb7a8;
  -moz-transform: translateY(65%) rotate(135deg);
  -ms-transform: translateY(65%) rotate(135deg);
  -webkit-transform: translateY(65%) rotate(135deg);
  -o-transform: translateY(65%) rotate(135deg);
  transform: translateY(65%) rotate(135deg);
}
.percentages h1 {
  margin: 2.278rem auto 1.39rem auto;
}
.pie {
  display: inline-block;
  width: 5.44rem;
  height: 5.44rem;
  position: relative;
  font-family: LatoLight;
  margin-right: 2.06rem;
}
.multi-pie-chart {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 6rem;
  height: 6rem;
  position: absolute;
}
#multi {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -0.5rem;
  left: -0.35rem;
}
.sliders h1 {
  margin: 1.7rem auto 2.22rem auto;
}
.sliders form {
  position: relative;
  margin: 0 auto;
  text-align: left;
}
.sliders__first {
  margin-right: 3.89rem;
}
.sliders__first output {
  position: absolute;
  background-color: #e75735;
  width: 2rem;
  height: 1.39rem;
  text-align: center;
  color: #fff;
  border-radius: 0.44rem;
  display: inline-block;
  font: LatoBlack 0.72rem;
  bottom: 130%;
  left: 0;
}
.sliders__first output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0.278rem solid #e75735;
  border-left: 0.139rem solid transparent;
  border-right: 0.139rem solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -0.139rem;
  margin-top: -0.056rem;
}
.sliders input[type='range'] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  height: 0.35rem;
  width: 14.44rem;
  border-radius: 0.6rem;
  background: #e5e5e5;
  margin: 0;
}
.sliders__first_range1 {
  background: #e5e5e5;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
input[type='range']::-moz-range-track {
  height: 0;
}
.sliders__first input[type='range']::-webkit-slider-thumb {
  width: 1.11rem;
  height: 1.11rem;
  border-radius: 50%;
  background-color: #e75735;
}
.sliders__first input[type='range']::-moz-range-thumb {
  width: 1.11rem;
  height: 1.11rem;
  border-radius: 50%;
  background-color: #e75735;
  border: none;
}
.sliders__second input[type='range']::-webkit-slider-thumb {
  width: 1.11rem;
  height: 1.11rem;
  border-radius: 50%;
  background-color: #4eb7a8;
}
.sliders__second input[type='range']::-moz-range-thumb {
  width: 1.11rem;
  height: 1.11rem;
  border-radius: 50%;
  background-color: #4eb7a8;
  border: none;
}
.sliders__first,
.sliders__second {
  display: inline-block;
}
.slider__ruler {
  background: transparent;
  margin: 0;
  padding: 0;
  margin-left: 0rem;
  position: absolute;
  left: 0;
  top: 1rem;
}
.slider__ruler_number {
  display: inline-block;
  margin: 0.5rem 0 0 0;
  padding: 0;
  width: 1.05rem;
  text-align: center;
  font-size: 0.61rem;
  color: #9d9d9d;
  position: relative;
  top: 0;
}
.slider__ruler_number:last-of-type {
  margin-right: 0 !important;
}
.stages h1 {
  margin: 3.11rem auto 1.44rem auto;
}
#steps {
  width: 33.056rem;
  margin: 0 auto;
}
.form-elements h1 {
  margin: 2.72rem auto 2.5rem auto;
}
.form-elements h2 {
  margin: 0 auto 1.72rem auto;
}
.form-elements > div {
  display: inline-block;
  vertical-align: top;
}
.form-elements__form {
  display: inline-block;
  width: 15.94rem;
  margin: 0 5.389rem 0 auto;
}
.form-elements__form textarea,
.form-elements__form input[type='submit'] {
  display: block;
}
.form-elements__form > div {
  margin: 0;
  padding: 0;
  text-align: left;
}
[class^='form-elements__form_'] {
  margin: 0 0 0.78rem 0;
  vertical-align: middle;
  border: none;
}
[class^='form-elements__form_']:not([type='submit']) {
  background: #e5e5e5;
  border-radius: 0.2rem;
}
[class^='form-elements__form_']:not([type='submit'])::-moz-placeholder {
  font-family: SourceSansProRegular;
  color: #747474;
  font-size: 0.78rem;
  font-weight: bolder;
}
[class^='form-elements__form_']:not([type='submit'])::-ms-input-placeholder {
  font-family: SourceSansProRegular;
  color: #747474;
  font-size: 0.78rem;
  font-weight: bolder;
}
[class^='form-elements__form_']:not([type='submit'])::-webkit-input-placeholder {
  font-family: SourceSansProRegular;
  color: #747474;
  font-size: 0.78rem;
  font-weight: bolder;
}
.form-elements__form input:not([type='submit']) {
  height: 1.61rem;
  width: 10.27rem;
  padding: 0 0.667rem;
}
.form-elements__form_valid-msg {
  display: none;
  width: 3.94rem;
  height: 1.61rem;
  padding: 0;
}
.form-elements__form input:valid:focus + div.form-elements__form_valid-msg,
.form-elements__form input:invalid:not([type='submit']) + div.form-elements__form_valid-msg {
  display: inline-block;
  margin-left: 0.39rem;
}
.form-elements__form input:valid:focus + div.form-elements__form_valid-msg:before,
.form-elements__form input:invalid:not([type='submit']) + div.form-elements__form_valid-msg:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  border: 0.23rem solid transparent;
  border-left: none;
  margin: 0.6rem auto auto -0.22rem;
}
.form-elements__form input:valid:focus + div.form-elements__form_valid-msg:after,
.form-elements__form input:invalid:not([type='submit']) + div.form-elements__form_valid-msg:after {
  content: '';
  line-height: 1.61rem;
  width: 3.94rem;
  height: 1.61rem;
  display: inline-block;
  text-transform: uppercase;
  font-family: LatoBlack;
  font-size: 0.667rem;
  text-align: center;
  color: #fff;
  background: transparent;
}
.form-elements__form input:valid:focus + div.form-elements__form_valid-msg {
  background: #4eb7a8;
}
.form-elements__form input:valid:focus + div.form-elements__form_valid-msg:before {
  border-right-color: #4eb7a8;
}
.form-elements__form input:valid:focus + div.form-elements__form_valid-msg:after {
  content: 'Thanks!';
}
.form-elements__form input:invalid:not([type='submit']) + div.form-elements__form_valid-msg {
  background: #e75735;
}
.form-elements__form input:invalid:not([type='submit']) + div.form-elements__form_valid-msg:before {
  border-right-color: #e75735;
}
.form-elements__form input:invalid:not([type='submit']) + div.form-elements__form_valid-msg:after {
  content: 'Error';
}
.form-elements__form_message {
  width: 14.606rem;
  height: 3.6rem;
  padding: 0.667rem;
  resize: none;
}
.form-elements__form_submit {
  overflow: hidden;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.67rem;
  width: 6.5rem;
  height: 1.778rem;
  border-radius: 0.2rem;
  background: #4eb7a8;
  border: none;
  box-shadow: 0 0 0 1px #28a290, 0 0.2rem 0 1px #28a290;
  margin-left: auto;
  margin-right: 0;
}
.form-elements__form_submit:hover {
  background: #fff;
  color: #4eb7a8;
}
.form-elements__form_submit:active {
  box-shadow: none;
  border: none;
  cursor: pointer;
  color: #fff;
  background: #4eb7a8;
}
.form-elements__toggles {
  height: 1.389rem;
  width: 3.22rem;
  display: inline-block;
  margin: 0 0.89rem 0 0;
}
.form-elements__toggles label {
  display: inline-block;
  width: 3.22rem;
  height: 1.389rem;
  border-radius: 1.72rem;
  background-color: #e5e5e5;
}
.form-elements__toggles input[type='checkbox'] {
  display: none;
  height: 0;
}
.form-elements__toggles label:before,
.form-elements__toggles input[type='checkbox']:checked + label:after {
  content: '';
  display: inline-block;
  margin: 0;
  margin: auto;
  line-height: 1.389rem;
  width: 1.056rem;
  height: 1.056rem;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
}
.form-elements__toggles label:after,
.form-elements__toggles input[type='checkbox']:checked + label:before {
  height: 1.389rem;
  display: inline-block;
  text-transform: uppercase;
  font-family: LatoBlack;
  font-size: 0.667rem;
  text-align: center;
  color: #fff;
  background: transparent;
  line-height: 1.389rem;
  margin: 0;
  margin: auto;
  vertical-align: middle;
}
.form-elements__toggles input[type='checkbox']:checked + label {
  background-color: #4eb7a8;
  vertical-align: middle;
  line-height: 1.389rem;
  text-align: center;
}
.form-elements__toggles input[type='checkbox']:checked + label:before {
  margin-top: -0.3rem;
  content: 'on';
}
.form-elements__toggles input[type='checkbox']:checked + label:after {
  margin-top: -0.3rem;
  margin-left: 0.389rem;
}
.form-elements__toggles label:before {
  margin-top: -0.1rem;
  margin-right: 0.389rem;
}
.form-elements__toggles label:after {
  margin-top: -0.1rem;
  content: 'off';
}
@-moz-keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@-o-keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
