arrow-std-color=#ffffff
arrow-circle-color=#e5e5e5

transform2(action1, action2)
  -moz-transform action1 action2
  -ms-transform action1 action2
  -webkit-transform action1 action2
  -o-transform action1 action2
  transform action1 action2


circle(n, color)
  width n
  height n
  border-radius 50%
  background-color color

arrow(size, degr, vert, color = #ffffff)
  border size solid transparent
  border-left size solid color
  border-top size solid color
  transform2 translateY(vert), rotate(degr)

.arrow-buttons h1
  margin 2.5rem auto 2.056rem auto
.arrow-buttons__circle
  display inline-block
  circle 2.89rem arrow-circle-color
  margin 0 auto
  margin-right 1.44rem

.arrow-buttons__circle:hover
  circle 2.89rem first-color

.arrow-buttons__circle:active
  circle 2.89rem #ffffff
  border 0.278rem solid first-color
  box-sizing border-box

.arrow-buttons__circle_arrow-left
.arrow-buttons__circle_arrow-right
  width 0.56rem
  height 0.56rem

.arrow-buttons__circle_arrow-left
  arrow 0.278rem -45deg 80%
  margin-left 40%

.arrow-buttons__circle:active .arrow-buttons__circle_arrow-left
  arrow 0.278rem -45deg 65% first-color

.arrow-buttons__circle_arrow-right
  arrow 0.278rem 135deg 80%
  margin-left 20%

.arrow-buttons__circle:active .arrow-buttons__circle_arrow-right
  arrow 0.278rem 135deg 65% first-color